.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carousel-inner .carousel-item {
  height: 500px;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  }
  .carousel-inner .carousel-item:first-of-type {
  position: relative;
  }
  .carousel-inner .active {
  opacity: 1;
  }